## **Correlation Task**

In [2]:
# Loading the dataset from Google drive
# %pip install gdown   (If not installed)
import gdown

In [3]:
file_id = '1yB5qSBOLl96Y563nIewKOU8RN_gsY3dO'  # Make sure it's a string

gdown.download(f'https://drive.google.com/uc?id={file_id}', 'data.csv', quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1yB5qSBOLl96Y563nIewKOU8RN_gsY3dO
To: c:\Users\Welcome Sir\Desktop\abioye_olajide_tasks\week_nine\data.csv
100%|██████████| 52.0k/52.0k [00:00<?, ?B/s]

'data.csv'

In [4]:
# Importing necessary libraries
import pandas as pd
import numpy as np

In [5]:
# Reading in the downloaded CSV file
df = pd.read_csv('data.csv')
df.head()

   Unnamed: 0    country food_category  consumption  co2_emission
0           1  Argentina          pork        10.51         37.20
1           2  Argentina       poultry        38.66         41.53
2           3  Argentina          beef        55.48       1712.00
3           4  Argentina     lamb_goat         1.56         54.63
4           5  Argentina          fish         4.36          6.96

In [8]:
df

      Unnamed: 0     country food_category  consumption  co2_emission
0              1   Argentina          pork        10.51         37.20
1              2   Argentina       poultry        38.66         41.53
2              3   Argentina          beef        55.48       1712.00
3              4   Argentina     lamb_goat         1.56         54.63
4              5   Argentina          fish         4.36          6.96
...          ...         ...           ...          ...           ...
1425        1426  Bangladesh         dairy        21.91         31.21
1426        1427  Bangladesh         wheat        17.47          3.33
1427        1428  Bangladesh          rice       171.73        219.76
1428        1429  Bangladesh      soybeans         0.61          0.27
1429        1430  Bangladesh          nuts         0.72          1.27

[1430 rows x 5 columns]

In [11]:
# Since the column for Unnamed is not necessary or needed in the analysis, I'll be dropping it
df.drop('Unnamed: 0', axis= 1, inplace= True)

In [12]:
df

         country food_category  consumption  co2_emission
0      Argentina          pork        10.51         37.20
1      Argentina       poultry        38.66         41.53
2      Argentina          beef        55.48       1712.00
3      Argentina     lamb_goat         1.56         54.63
4      Argentina          fish         4.36          6.96
...          ...           ...          ...           ...
1425  Bangladesh         dairy        21.91         31.21
1426  Bangladesh         wheat        17.47          3.33
1427  Bangladesh          rice       171.73        219.76
1428  Bangladesh      soybeans         0.61          0.27
1429  Bangladesh          nuts         0.72          1.27

[1430 rows x 4 columns]