In [2]:
# Importing the necessary libraries

import pandas as pd
import numpy as np

**Loading datasets directly from Github**

In [ ]:
url = r"https://raw.githubusercontent.com/ek-chris/Practice_datasets/refs/heads/main/home_loan_test.csv"

data = pd.read_csv(url)

In [6]:
data.shape

(367, 12)

In [ ]:
url2 = r"https://raw.githubusercontent.com/ek-chris/Practice_datasets/refs/heads/main/home_loan_train.csv"

data2 = pd.read_csv(url2)

data2.head()

In [7]:
data2.shape

(614, 13)

In [ ]:
# Concatenating dataset

comb_data = pd.concat([data, data2], ignore_index=True)

comb_data.head()

comb_data.to_csv(r"Home_loan_dataset")

In [10]:
comb_data.shape

(981, 13)

In [5]:
# To handle the issue of loading data due to network, I will be using the saved dataset instead

df = pd.read_csv(r"Home_loan_dataset")

df.head()

,Unnamed: 0,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,LP001015,Male,Yes,0,Graduate,No,5720,0.0,110.0,360.0,1.0,Urban,NaN
1,1,LP001022,Male,Yes,1,Graduate,No,3076,1500.0,126.0,360.0,1.0,Urban,NaN
2,2,LP001031,Male,Yes,2,Graduate,No,5000,1800.0,208.0,360.0,1.0,Urban,NaN
3,3,LP001035,Male,Yes,2,Graduate,No,2340,2546.0,100.0,360.0,NaN,Urban,NaN
4,4,LP001051,Male,No,0,Not Graduate,No,3276,0.0,78.0,360.0,1.0,Urban,NaN

In [7]:
# Inspecting for missing values, duplicates, and data type inconsistencies
df.isna().sum()

Unnamed: 0             0
Loan_ID                0
Gender                24
Married                3
Dependents            25
Education              0
Self_Employed         55
ApplicantIncome        0
CoapplicantIncome      0
LoanAmount            27
Loan_Amount_Term      20
Credit_History        79
Property_Area          0
Loan_Status          367
dtype: int64

In [26]:
# Fill missing values in all non-numerical columns with their respective modes.
mode_gender = df["Gender"].mode()[0]        # This will return the highest occurrences values therein.
df["Gender"].fillna(mode_gender, inplace=True)

mode_married = df["Married"].mode()[0]
df["Married"].fillna(mode_married, inplace=True)

mode_dependents = df["Dependents"].mode()[0]
df["Dependents"].fillna(mode_dependents, inplace=True)

mode_employed = df["Self_Employed"].mode()[0]
df["Self_Employed"].fillna(mode_employed, inplace=True)

mode_loan = df["Loan_Status"].mode()[0]
df["Loan_Status"].fillna(mode_loan, inplace=True)

In [27]:
# Fill missing values in all numerical columns with their respective medians
df_filled_median = df.fillna(df.median(numeric_only=True))

In [28]:
df_filled_median.isna().sum()

Unnamed: 0           0
Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64